@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");
@font-face {
  font-family: "CeraMedium";
  src: url("../fonts/CeraMedium.otf") format("opentype");
}
@font-face {
  font-family: "CeraLight";
  src: url("../fonts/CeraLight.otf") format("opentype");
}
$cubeWidth: 1300px;
$cubeHeight: 800px;
$formBorder: #f4f4f4;

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bg-left,
#bg-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -3;
}
#bg-left {
  left: 0;
  width: 40%;
  // background-color: #161616;
  background: linear-gradient(0deg, #0a0a0a 0%, #161616 20%);
}
#bg-right {
  right: 0;
  width: 67%;
  // background-color: #feab1f;
  background: linear-gradient(0deg, #b87b11 0%, #feab1f 20%);
}

/////////////// cube stuff
#cube {
  position: absolute;
  top: 48%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: $cubeWidth;
  height: $cubeHeight;
}

.swiper-slide {
  // background: #888;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  top: 15%;
  // left: 50px;
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet {
  width: 180px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active {
  outline: none;
}

.swiper-pagination-bullet-active {
  // text-decoration: underline;
  font-weight: 400;
}

.bg-outside {
  z-index: -1;
  height: 100%;
  width: 100%;
  // background-color: #f3a41d;
  // border: #f3a41d 10px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-inside {
  overflow: hidden;
  z-index: 1;
  height: calc(#{$cubeHeight} - 80px);
  width: calc(#{$cubeWidth} - 80px);
  background-color: #151515;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-color {
  background-color: #f3a41d;
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px;
  width: 30px;
  top: 50%;
  color: #e6e6e6b4;
  padding: 12px;
  // border: 1px solid #f1f1f1c4;
  border-radius: 30px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transition: 0.5s;
  background-color: #f1f1f1b7;
  color: #0a0a0a;
}

//////////////////oncube stuff

.about-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  img {
    position: absolute;
    height: 100%;
    z-index: -1;
  }
  .about-info {
    width: 450px;
    margin: auto;
    align-self: center;
    transform: translateX(20%);
    background-color: #151515a4;
    padding: 3rem;
    border-radius: 2rem;
    h2 {
      font-size: 2rem;
      letter-spacing: 10px;
      transform: translate(0rem, 2rem);
    }
    h1 {
      font-family: "CeraLight";
      font-size: 3.8rem;
      letter-spacing: 5px;
      color: #dd791c;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

///////////////////project-swiper/////////////
.project-intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .project-intro-info {
    box-sizing: border-box;
    width: 50%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    font-size: 1.4rem;
  }
  .project-intro-pic {
    height: 100%;
    width: 50%;
    background-image: url(../images/project-intro.png);
    background-size: cover;
  }
}
.website-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.moebel-1 {
  background-image: url(../images/projects/img1.jpg);
  background-size: cover;
}
.moebel-2 {
  background-image: url(../images/projects/img2.jpg);
  background-size: cover;
}
.moebel-3 {
  background-image: url(../images/projects/img3.jpg);
  background-size: cover;
}

///////////////////form/////////////
.form-wrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  background-color: #161616;
  .form-over {
    z-index: 2;
    position: absolute;
    width: 50%;
    left: 10%;
    top: 0;
    bottom: 0;
    background-color: #1b1b1b;
    border: 1px solid $formBorder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    font-size: 1.2rem;

    label {
      padding: 1rem;
    }
    input,
    textarea {
      margin: 0.5rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px $formBorder solid;
      border-top: 1px #262626 solid;
      color: #f1f1f1;
      &:focus {
        border: none;
      }
      &::placeholder {
        color: #a5a5a5;
        padding: 0.5rem;
        font-family: monospace;
      }
    }
    input {
      line-height: 2rem;
    }
    #send-btn {
      margin-top: 1rem;
      border: none;
      background-color: #813232;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .form-under {
    z-index: 1;
    width: 100%;
    height: 80%;
    align-self: center;
    border: 1px solid $formBorder;
    background-color: #262626;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h2 {
      // align-self: center;
      // float: right;
      font-weight: 200;
      padding-right: 3rem;
      width: 9rem;
      text-align: start;
    }
  }
}

.social-links {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: block;
  padding: 1rem;
  a {
    display: block;
    text-align: right;

    .fa {
      color: #e6e6e69a;
      font-size: 2.5rem;
      padding: 0.5rem;
    }
    .fa:hover {
      color: #f1f1f1;
      transition: 0.3s;
    }
  }
}

//viewport breakpoints
@media (max-width: 1800px) {
  #cube {
    height: 700px;
    width: 1100px;
  }
  .bg-inside {
    height: calc(700px - 80px);
    width: calc(1100px - 80px);
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
  #cube {
    height: 700px;
    width: 950px;
    left: 50%;
  }
  .bg-inside {
    height: calc(700px - 80px);
    width: calc(950px - 80px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}

@media (max-width: 992px) {
  #cube {
    height: 700px;
    width: 750px;
    left: 50%;
  }
  .bg-inside {
    height: calc(700px - 80px);
    width: calc(750px - 80px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
@media (max-width: 768px) {
  #cube {
    height: 700px;
    width: 550px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: calc(700px - 60px);
    width: calc(550px - 60px);
  }
  .about-info {
    width: 100%;
    height: 100%;
    transform: translateX(0px) !important;
    padding: 2rem !important;
    h2 {
      font-size: 1.4rem;
    }
  }
  .project-intro {
    overflow: hidden;
    position: relative;
    .project-intro-pic {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .project-intro-info {
      padding: 3rem;
      width: 100%;
      height: 100%;
      background-color: #151515c5;
    }
  }
  .form-wrapper {
    .form-over {
      left: 0;
      width: 80%;
    }
    .form-under {
      display: none;
    }
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
@media (max-width: 576px) {
  #cube {
    height: 600px;
    width: 400px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: calc(600px - 50px);
    width: calc(400px - 50px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}

@media (max-width: 410px) {
  #cube {
    height: 580px;
    width: 340px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: calc(580px - 40px);
    width: calc(340px - 40px);
  }

  .swiper-pagination,
  .social-links {
    display: none;
  }
}
