@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");
@font-face {
  font-family: "CeraMedium";
  src: url("../fonts/CeraMedium.otf") format("opentype");
}
@font-face {
  font-family: "CeraLight";
  src: url("../fonts/CeraLight.otf") format("opentype");
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bg-left,
#bg-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -3;
}

#bg-left {
  left: 0;
  width: 40%;
  --s: 50px;
  --c: #161616;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s), repeating-conic-gradient(var(--c) 0 25%, rgba(0, 0, 0, 0) 0 50%) 0 0/var(--_s), radial-gradient(var(--_c)) 0 calc(var(--s) / 2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

#bg-right {
  right: 0;
  width: 67%;
  background: linear-gradient(0deg, #2f2004 0%, #d48f18 20%);
}

#cube {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 1300px;
  height: 800px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  top: 15%;
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet {
  width: 180px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: 40px;
  width: fit-content;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active {
  outline: none;
}

.swiper-pagination-bullet-active {
  font-weight: 400;
}

.bg-outside {
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-inside {
  overflow: hidden;
  z-index: 1;
  height: calc(800px - 80px);
  width: calc(1300px - 80px);
  background-color: #151515;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color {
  background-color: #f3a41d;
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px;
  width: 30px;
  top: 50%;
  color: rgba(230, 230, 230, 0.7058823529);
  padding: 12px;
  border-radius: 30px;
}

.swiper-button-next {
  right: -60px;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transition: 0.5s;
  background-color: rgba(241, 241, 241, 0.7176470588);
  color: #0a0a0a;
}

.about-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}
.about-wrapper img {
  position: absolute;
  height: 100%;
  z-index: -1;
}
.about-wrapper .about-info {
  width: 450px;
  margin: auto;
  align-self: center;
  transform: translateX(20%);
  background-color: rgba(21, 21, 21, 0.7137254902);
  padding: 3rem;
}
.about-wrapper .about-info h2 {
  font-size: 2rem;
  letter-spacing: 10px;
  transform: translate(0rem, 2rem);
}
.about-wrapper .about-info h1 {
  font-family: "CeraMedium";
  font-size: 3.8rem;
  letter-spacing: 5px;
  color: #dd791c;
}
.about-wrapper .about-info p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.project-intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.project-intro .project-intro-info {
  box-sizing: border-box;
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}
.project-intro .project-intro-info .underline-arrow {
  padding-block: 0.25rem;
  border-bottom: 1px solid #d6d6d6;
  width: fit-content;
  position: relative;
}
.project-intro .project-intro-info .underline-arrow::after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.project-intro .project-intro-info .underline-arrow--left::after {
  left: 0;
  border-width: 0 30px 6px 0;
  border-color: transparent #d6d6d6 transparent transparent;
}
.project-intro .project-intro-info .underline-arrow--right::after {
  right: 0;
  border-width: 6px 30px 0 0;
  border-color: #d6d6d6 transparent transparent transparent;
}
.project-intro .project-intro-info .swipe-right {
  border-bottom: red;
}
.project-intro .project-intro-pic {
  height: 100%;
  width: 50%;
  background-image: url(https://iili.io/JnHvgGs.md.png);
  background-size: cover;
}

.website-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}
.grid-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid-wrapper .main-grid {
  grid-column: 1/4;
  grid-row: 1/5;
}
.grid-wrapper .second-grid {
  grid-column: 4/6;
  grid-row: 1/3;
}
.grid-wrapper .third-grid {
  grid-column: 4/6;
  grid-row: 3/5;
}
.grid-wrapper .info {
  padding: 40px;
}

.split-screen {
  display: flex;
}
.split-screen > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.split-screen a {
  text-decoration: none;
  color: #f2f2f2;
}

.form-wrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  background-color: #161616;
}
.form-wrapper .form-over {
  z-index: 2;
  position: absolute;
  width: 50%;
  left: 10%;
  top: 0;
  bottom: 0;
  background-color: #1b1b1b;
  border: 1px solid #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.2rem;
}
.form-wrapper .form-over label {
  padding: 1rem;
}
.form-wrapper .form-over input,
.form-wrapper .form-over textarea {
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px #f4f4f4 solid;
  border-top: 1px #262626 solid;
  color: #f1f1f1;
}
.form-wrapper .form-over input:focus,
.form-wrapper .form-over textarea:focus {
  border: none;
}
.form-wrapper .form-over input::placeholder,
.form-wrapper .form-over textarea::placeholder {
  color: #a5a5a5;
  padding: 0.5rem;
  font-family: monospace;
}
.form-wrapper .form-over input {
  line-height: 2rem;
}
.form-wrapper .form-over #send-btn {
  margin-top: 1rem;
  border: none;
  background-color: #813232;
  border-radius: 4px;
  cursor: pointer;
}
.form-wrapper .form-under {
  z-index: 1;
  width: 100%;
  height: 80%;
  align-self: center;
  border: 1px solid #f4f4f4;
  background-color: #262626;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form-wrapper .form-under h2 {
  font-weight: 200;
  padding-right: 3rem;
  width: 9rem;
  text-align: start;
}

.social-links {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: block;
  padding: 1rem;
}
.social-links a {
  display: block;
  text-align: right;
}
.social-links a .fa {
  color: rgba(230, 230, 230, 0.6039215686);
  font-size: 2.5rem;
  padding: 0.5rem;
}
.social-links a .fa:hover {
  color: #f1f1f1;
  transition: 0.3s;
}

@media (max-width: 1800px) {
  #cube {
    height: 700px;
    width: 1100px;
  }
  .bg-inside {
    height: 620px;
    width: 1020px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
  #cube {
    height: 700px;
    width: 950px;
    left: 50%;
  }
  .bg-inside {
    height: 620px;
    width: 870px;
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
@media (max-width: 992px) {
  #cube {
    height: 700px;
    width: 750px;
    left: 50%;
  }
  .bg-inside {
    height: 620px;
    width: 670px;
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  #cube {
    height: 700px;
    width: 550px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: 640px;
    width: 490px;
  }
  .about-info {
    width: 100%;
    height: 100%;
    transform: translateX(0px) !important;
    padding: 0 2rem 0 2rem !important;
  }
  .about-info h2 {
    font-size: 1.4rem !important;
    letter-spacing: 4px !important;
    line-height: 2.6rem;
    color: #c5c5c5;
  }
  .about-info p {
    font-size: 1.3rem !important;
  }
  .project-intro {
    overflow: hidden;
    position: relative;
  }
  .project-intro .project-intro-pic {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .project-intro .project-intro-info {
    padding: 3rem;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.7725490196);
  }
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-wrapper .main-grid {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  .grid-wrapper .second-grid {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .grid-wrapper .third-grid {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  .grid-wrapper .info {
    padding: 0 10px 0 10px !important;
  }
  .grid-wrapper .info p {
    font-size: 0.8rem;
  }
  .form-wrapper .form-over {
    left: 0;
    width: 80%;
  }
  .form-wrapper .form-under {
    display: none;
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
@media (max-width: 576px) {
  #cube {
    height: 600px;
    width: 400px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: 550px;
    width: 350px;
  }
  .info {
    padding: 10px !important;
  }
  .info h5 {
    line-height: 1rem;
  }
  .info p {
    font-size: 1rem;
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
@media (max-width: 410px) {
  #cube {
    height: 580px;
    width: 280px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: 540px;
    width: 240px;
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
