@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");

html,
body {
  position: relative;
  height: 100%;
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bg-left,
#bg-right {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -3;
}
#bg-left {
  left: 0;
  width: 50%;
  // background-color: #161616;
  background: linear-gradient(0deg, #0a0a0a 0%, #161616 20%);
}
#bg-right {
  left: 40%;
  width: 67%;
  // background-color: #feab1f;
  background: linear-gradient(0deg, #b87b11 0%, #feab1f 20%);
}

/////////////// cube stuff
#cube {
  position: absolute;
  top: 48%;
  right: 15%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  height: 85%;
}

.swiper-slide {
  font-size: 18px;
  // background: #888;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-v {
  background: none;
}

.swiper-pagination {
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet {
  width: 180px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active {
  outline: none;
}

.swiper-pagination-bullet-active {
  // text-decoration: underline;
  font-weight: 400;
}

.bg-outside {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #f3a41d;
  // border: #f3a41d 10px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-inside {
    // transform: translateZ(-10px);
    z-index: 1;
    height: 90%;
    width: 90%;
    background-color: #131313;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .swiper-button-next,
// .swiper-button-prev {
//   height: 100%;
//   width: 45%;
//   top: 15px;
//   // background-color: #f1f1f177;
// }

//////////////////oncube stuff

.logo {
  transform: translateZ(10px);
}

.highlight {
  color: #d63333;
}

.about-wrapper {
  position: relative;
  width: 90%;
  height: 90%;

  .profil-picture {
    margin: 10% 0 0 10%;
    width: 30%;
  }
  .about-under {
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0;
    right: 10%;
    // background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    background-color: #262626;
    .title {
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
      position: relative;
      top: 17%;
      font-size: 1.8rem;
      line-height: 1.5rem;
      h2 {
        position: relative;
        left: -20%;
        font-weight: 100;
      }
      h1 {
        padding: 0 2rem 0 2rem;
      }
    }
  }
  .about-over {
    z-index: 2;
    position: relative;
    top: -10px;
    transform: translateZ(10px);
    // background-image: url("https://www.transparenttextures.com/patterns/light-aluminium.png");
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    p {
      width: 30%;
      padding: 30px;
      border-right: #fbfbfb 1px solid;
    }
    .about-pic {
      width: 200px;
      min-height: 200px;
      background-image: url(../images/leuchte.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.projects-bg {
  z-index: 1;
  width: 70%;
  height: 60%;
  position: absolute;
  top: 10%;
  background-color: #1b1b1b;
}
.physical,
.digital {
  z-index: 3;
  width: 40%;
  height: 60%;
  padding: 3%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img::after {
    content: "Physical";
    position: absolute;
  }
  h3 {
    text-align: center;
  }
}

.form-wrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  background-color: #161616;
  .form-over {
    z-index: 2;
    position: absolute;
    width: 50%;
    left: 10%;
    top: 0;
    bottom: 0;
    background-color: #363636;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.5rem;
    transform: translateZ(10px);
    // box-shadow: 5px 5px 20px #0a0a0a71;
    input,
    textarea {
      margin: 0.5rem;
      background-color: #49494900;
      border: 1px #cecece solid;
      color: #f1f1f1;
      &::placeholder {
        color: #a5a5a5;
        padding: 0.5rem;
      }
    }
    input {
      height: 2rem;
    }
    #send-btn {
      border-top: #d63333 solid 3px;
    }
  }
  .form-under {
    z-index: 1;
    width: 100%;
    height: 70%;
    align-self: center;
    background-color: #262626;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateZ(10px);
    h2 {
      // align-self: center;
      // float: right;
      font-weight: 200;
      padding-right: 3rem;
      width: 9rem;
      text-align: start;
      span {
        color: #d63333;
        font-weight: bold;
      }
    }
  }
}
