@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");
@font-face {
  font-family: "CeraMedium";
  src: url("../fonts/CeraMedium.otf") format("opentype");
}

@font-face {
  font-family: "CeraLight";
  src: url("../fonts/CeraLight.otf") format("opentype");
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bg-left,
#bg-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -3;
}

#bg-left {
  left: 0;
  width: 40%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a0a0a), color-stop(20%, #161616));
  background: linear-gradient(0deg, #0a0a0a 0%, #161616 20%);
}

#bg-right {
  right: 0;
  width: 67%;
  background: -webkit-gradient(linear, left bottom, left top, from(#b87b11), color-stop(20%, #feab1f));
  background: linear-gradient(0deg, #b87b11 0%, #feab1f 20%);
}

#cube {
  position: absolute;
  top: 48%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1300px;
  height: 800px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-pagination {
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-pagination-bullet {
  width: 180px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  font-size: 1.7rem;
  color: white;
  opacity: 1;
  background: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active {
  outline: none;
}

.swiper-pagination-bullet-active {
  font-weight: 400;
}

.bg-outside {
  z-index: -1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-inside {
  overflow: hidden;
  z-index: 1;
  height: calc(800px - 80px);
  width: calc(1300px - 80px);
  background-color: #151515;
  color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-color {
  background-color: #f3a41d;
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px;
  width: 30px;
  top: 50%;
  color: #e6e6e6b4;
  padding: 12px;
  border-radius: 30px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f1f1f1b7;
  color: #0a0a0a;
}

.highlight {
  color: #d63333;
}

.about-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-wrapper img {
  z-index: -1;
  height: 100%;
  position: absolute;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.about-wrapper .about-info {
  width: 450px;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  background-color: #151515a4;
  padding: 3rem;
  border-radius: 2rem;
}

.about-wrapper .about-info h2 {
  font-size: 2rem;
  letter-spacing: 10px;
}

.about-wrapper .about-info h1 {
  font-family: "CeraLight";
  font-size: 3.8rem;
  letter-spacing: 5px;
  color: #dd961c;
  -webkit-transform: translate(0rem, -2rem);
          transform: translate(0rem, -2rem);
}

.about-wrapper .about-info p {
  font-size: 1.4rem;
}

.project-intro {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-intro .project-intro-info {
  width: 50%;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
}

.project-intro .project-intro-pic {
  height: 100%;
  width: 50%;
  background-image: url(../images/project-intro.JPG);
  background-size: cover;
}

.moebel-1 {
  background-image: url(../images/projects/img1.jpg);
  background-size: cover;
}

.moebel-2 {
  background-image: url(../images/projects/img2.jpg);
  background-size: cover;
}

.moebel-3 {
  background-image: url(../images/projects/img3.jpg);
  background-size: cover;
}

.form-wrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #161616;
}

.form-wrapper .form-over {
  z-index: 2;
  position: absolute;
  width: 50%;
  left: 10%;
  top: 0;
  bottom: 0;
  background-color: #1b1b1b;
  border: 1px solid #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.form-wrapper .form-over label {
  padding: 1rem;
}

.form-wrapper .form-over input,
.form-wrapper .form-over textarea {
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px #f4f4f4 solid;
  border-top: 1px #262626 solid;
  color: #f1f1f1;
}

.form-wrapper .form-over input:focus,
.form-wrapper .form-over textarea:focus {
  border: none;
}

.form-wrapper .form-over input::-webkit-input-placeholder,
.form-wrapper .form-over textarea::-webkit-input-placeholder {
  color: #a5a5a5;
  padding: 0.5rem;
  font-family: monospace;
}

.form-wrapper .form-over input:-ms-input-placeholder,
.form-wrapper .form-over textarea:-ms-input-placeholder {
  color: #a5a5a5;
  padding: 0.5rem;
  font-family: monospace;
}

.form-wrapper .form-over input::-ms-input-placeholder,
.form-wrapper .form-over textarea::-ms-input-placeholder {
  color: #a5a5a5;
  padding: 0.5rem;
  font-family: monospace;
}

.form-wrapper .form-over input::placeholder,
.form-wrapper .form-over textarea::placeholder {
  color: #a5a5a5;
  padding: 0.5rem;
  font-family: monospace;
}

.form-wrapper .form-over input {
  line-height: 2rem;
}

.form-wrapper .form-over #send-btn {
  margin-top: 1rem;
  border: none;
  background-color: #813232;
  border-radius: 4px;
  cursor: pointer;
}

.form-wrapper .form-under {
  z-index: 1;
  width: 100%;
  height: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #f4f4f4;
  background-color: #262626;
  color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-wrapper .form-under h2 {
  font-weight: 200;
  padding-right: 3rem;
  width: 9rem;
  text-align: start;
}

.social-links {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: block;
  padding: 1rem;
}

.social-links a {
  display: block;
  text-align: right;
}

.social-links a .fa {
  color: #e6e6e69a;
  font-size: 2.5rem;
  padding: 0.5rem;
}

.social-links a .fa:hover {
  color: #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1800px) {
  #cube {
    height: 700px;
    width: 1100px;
  }
  .bg-inside {
    height: calc(700px - 80px);
    width: calc(1100px - 80px);
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
  #cube {
    height: 700px;
    width: 950px;
    left: 50%;
  }
  .bg-inside {
    height: calc(700px - 80px);
    width: calc(950px - 80px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}

@media (max-width: 992px) {
  #cube {
    height: 700px;
    width: 750px;
    left: 50%;
  }
  .bg-inside {
    height: calc(700px - 80px);
    width: calc(750px - 80px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}

@media (max-width: 768px) {
  #cube {
    height: 700px;
    width: 550px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: calc(700px - 60px);
    width: calc(550px - 60px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}

@media (max-width: 576px) {
  #cube {
    height: 600px;
    width: 440px;
    left: 50%;
  }
  .logo {
    width: 80%;
  }
  .bg-inside {
    height: calc(600px - 50px);
    width: calc(440px - 50px);
  }
  .swiper-pagination,
  .social-links {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */