@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");

html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bg-left,
#bg-right {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -3;
}
#bg-left {
  left: 0;
  width: 50%;
  // background-color: #161616;
  background: linear-gradient(0deg, #0a0a0a 0%, #161616 20%);
}
#bg-right {
  left: 40%;
  width: 67%;
  // background-color: #feab1f;
  background: linear-gradient(0deg, #b87b11 0%, #feab1f 20%);
}

.profil-picture {
  width: 20%;
}

/////////////// cube stuff
#cube {
  position: absolute;
  top: 48%;
  right: 15%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  height: 85%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #888;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-v {
  background: none;
}

.swiper-pagination {
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullet {
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active {
  outline: none;
}

.swiper-pagination-bullet-active {
  // text-decoration: underline;
  font-weight: 400;
}

.bg-outside {
  height: 100%;
  width: 100%;
  background-color: #f3a41d;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-inside {
    height: 90%;
    width: 90%;
    background-color: #131313;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.logo {
  transform: translateZ(10px);
}
